*
!.gitignore
!tshirts/
tshirts/*
!tshirts/coding_is_just/
!tshirts/coding_is_just/*
!tshirts/debugging_being_the/
!tshirts/debugging_being_the/*
!tshirts/the_codefather_tshirt/
!tshirts/the_codefather_tshirt/*
!tshirts/keep_it_simple/
!tshirts/keep_it_simple/*
!tshirts/it_works_on/
!tshirts/it_works_on/*
!tshirts/im_a_fullstack/
!tshirts/im_a_fullstack/*
!tshirts/headbody_tshirt/
!tshirts/headbody_tshirt/*
!tshirts/front_end_back/
!tshirts/front_end_back/*
!tshirts/dont_repeat_yourself/
!tshirts/dont_repeat_yourself/*

