@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .smooth {
        @apply transition-all duration-100 ease-in-out;
    }
    .btn{
        @apply rounded-md p-2 text-white text-sm font-semibold bg-green-500 hover:bg-green-600 transition-all duration-100 ease-in-out;
    }
    .btn-danger{
        @apply rounded-md p-2 text-white text-sm font-semibold bg-red-500 hover:bg-red-600 transition-all duration-100 ease-in-out;
    }
}

@layer base {
    @font-face {
        font-family: "bespoke";
        src: url("../../public/assets/fonts/BespokeStencil-Variable.ttf");
    }
    @font-face {
        font-family: "main";
        src: url("../../public/assets/fonts/Rubik-VariableFont_wght.ttf");
    }
    @font-face {
        font-family: "secondary";
        src: url("../../public/assets/fonts/RobotoMono-VariableFont_wght.ttf");
    }
}

.p-inputnumber-increment-button{
    background-color: #9aa3b5 !important;
}
.p-inputnumber-decrement-button{
    background-color: #9aa3b5 !important;
}
.p-icon{
    color: #fff !important;
}

.p-inputtext:enabled:focus{
    border-color: #cdd5e1 !important;
}